#playlist-stats {
  background: rgb(1, 1, 35);
  color: azure;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 10px;
}

#progress-bar{
  width: 0%;
  height: 100%;
  background: #FF0000; 
  transition: width 0.3s ease-in-out;
}

#progress-bar-container{
  width: 100%;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
  margin-bottom: 10px;
}